<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather
        </title>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
            
            {{>header}}
         
            <p>{{msg}}</p>
            
            <h1>{{weather}}</h1>
            

            {{>footer}}

      

    </body>


</html>