<header>
    <h1 style="font-family:'Times New Roman', Times, serif;font-size:50px">Weather Forecasting API</h1>
    <div class="menu">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        {{!-- <a href="/weather">Weather</a> --}}
    </div>
</header>
